# the port the http server should use
# MOMENTTALLY_PORT=3030

# default username and password
# MOMENTTALLY_DEFAULT_USER_NAME=admin
# MOMENTTALLY_DEFAULT_USER_PASS=admin

# bcrypt password strength (higher = more secure but also slower)
# MOMENTTALLY_PASS_STRENGTH=10

# how verbose traggo/server should log (must be one of: debug, info, warn, error, fatal, panic)
# MOMENTTALLY_LOG_LEVEL=info

# the database dialect (must be one of: sqlite3)
# MOMENTTALLY_DATABASE_DIALECT=sqlite3

# the database connection string, differs depending on the dialect
# sqlite3:  path/to/database.db
# MOMENTTALLY_DATABASE_CONNECTION=data/momenttally.db
